  <link rel="stylesheet" href="{{url}}/css/signUp.css">
  <link rel="stylesheet" href="{{url}}/css/bootstrap.min.css">
<body class="bg-dark d-flex align-items-center ">
    <div class="container">
        <div class="row my-5 ">
            <div class="col-md-7  mx-auto ">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Admin Panel
                    </div>
                    <div class="card-body">
                        <form action="/admin/adminhome" method="post">
                            <input name="adminlogin" type="text" class="form-control" placeholder="username yoki email">
                            <input name="adminpassword" type="password" class="form-control my-3" placeholder="parolingizni kiritng">
                            <button class="btn btn-info">Kirish</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>